{% extends 'base.html.twig' %}

{% block title 'Hello City !' %} 

{% block body %}

	<img src="images/cotonou.jpg" alt="Benin-cotonou" class="h-32 rounded mt-12 shadow-md">

	<h1 class="mt-5 text-5xl font-semibold text-yellow-600">Hello from Benin</h1>

    <p class="text-lg text-gray-800">It's currently {{ 'now'|date('h:i A') }} </p>

{% endblock %}